<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
      <video id="video" height="360" width="540" muted></video>
  </body>
  <script type="module" src="/js/lib/tf.min.js"></script>
  <script type="module" src="/js/lib/face-api.min.js"></script>
  <script type="module" src="/js/index.js"></script>
</html>
